.wrapper {
    margin-bottom: 4rem;
    a {
        color: #000;
    }

    .title {
        font-weight: 700;
        font-size: 2rem;
        color: #707070;
        margin-bottom: 2rem;
    }

    .content {
        font-size: 1.5rem;
        margin-bottom: 4rem;
        line-height: 1.7;
        color: #6e6161;
    }
}
