.wrapper {
    a {
        color: #000;
    }

    h2 {
        font-size: 2.4rem;
        font-weight: 500;
        color: #707070;
        padding-bottom: 2rem;
        border-bottom: 0.1rem solid #ccc;
        margin-bottom: 2rem;
        margin-top: 4rem;
    }

    .searchbox {
        display: flex;
        justify-content: flex-start;

        .searchbox_input {
            width: 60%;
        }
    }

    .products {
        margin-top: 2rem;
    }

    .pagination {
        display: flex;
        justify-content: flex-end;
    }
}
