.wrapper {
    a {
        color: #000;
    }

    h2 {
        font-size: 2.4rem;
        font-weight: 500;
        color: #707070;
        padding-bottom: 2rem;
        border-bottom: 0.1rem solid #ccc;
        margin-bottom: 2rem;
    }

    .list-service {
        h3 {
            font-size: 1.8rem;
            margin: 2rem 0;
        }
        p {
            font-size: 1.6rem;
            margin-bottom: 1rem;
        }
    }
}
